<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="{{description}}" />
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/general.css" />
    <link rel="stylesheet" href="./assets/css/tailwind.css" />
</head>

<body class="bg-fade">
    {{ content | safe }}
    <script src="alpine.min.js"></script>
</body>

</html>