<footer class="border-t border-b-2 border-shade">
    <nav class="flex flex-row">
        <li class="ml-auto center-content border-l-2 border-shade">
            <button class="w-12 h-12">
                <i class="fa-solid fa-cog p-2"></i>
            </button>
        </li>
    </nav>
</footer>