<header class="border-t-2 border-b border-shade">
    <nav class="flex flex-row h-12">
        <li class=" border-l-2 border-r border-shade center-content">
            <h3 class=" text-xl pl-2">Untitled Project</h3>
            <button class="w-6 h-6 mx-2">
                <i class="fa-solid fa-pen"></i>
            </button>
        </li>
        <li class="border-l border-r border-shade center-content">
            <button class="w-12">
                <i class="fa-solid fa-plus p-2"></i>
            </button>
        </li>
        <li class="border-l border-r-2 border-shade center-content">
            <button class="w-12">
                <i class="fa-solid fa-ellipsis-vertical p-2"></i>
            </button>
        </li>
    </nav>
</header>